#family {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#google-fonts {
    font-family: 'indie flower', 'Ranga', cursive;

}

@font-face {
    font-family: 'codigo';
    src: url("fonts/KaushanScript-Regular.otf");

}

.codigo {
    font-family: 'codigo';
    text-align:justify;

}

.color {
    background: green;

}

.color1 {
    background: red;
}

.negrita {
    font-weight: bold;
}

.borde {
    border: black dashed 3px;
}

.fuente {
    font-family: 'ZCOOL KuaiLe', "cursive";
}
#caja1{
    width: 400px;
}
#fontfimily{
    /* Recordando que va recoger la 1ra de la izq de la derecha */
    font-family: Arial, Helvetica, sans-serif
}
#fontsize{
    font-size: 20px;
}
#fontweight{
    font-weight: bold;
}
/* me cambia varios parametros en una sola propiedad */
#font{
    font:bold 24px arial;
}
#fontstyle{
    font-style: italic;
}
#textindent{
    text-indent: 20px;
}
#letterspacing{
    letter-spacing: 5px;
}
#wordspacing{
    word-spacing: 8px;
}
#textdecoration{
    text-decoration: underline red;
}
#lineheight{
    line-height: 30px;
}
#font-face{
    font-family:'codigo';
    user-select: none;
}