#rgb{
    color: rgb(255, 83, 20);
}
#hex{
    /* 0 1 2 3 4 5 7 6 7 8 9 A B C D  */
    color:#37fc56;
}
#rgba{
    color: rgba(255,0,0,0.5);
    background:blue;
}
#grad{
    background-image: linear-gradient(to right, red,yellow, purple);
}
#tamanio{
    width: 400px;
    height: 200px;
    border:solid black 1px;
   overflow: scroll;   /*  scroll hidden visible   */
}