.contenedor{
    width: 500px;
    height: 400px;
    border:solid red 4px;
    margin: 20px;
    padding: 10px;
    border-radius: 60px 60px 80px 100px;
}

.caja1{
    border: solid gray 3px;
    padding: 10px 6px;


}
.caja2{
    border: solid green 3px;
    padding: 20px 40px 60px 80px;
    margin: 10px 0px

}
.caja3{
    border: solid yellow 3px;
    padding: 10px 6px;
    margin: 10px 0px;
}