div{
    width: 200px;
    height: 200px;
    border: 2px solid purple;
    transition-property: transform;
    /* transtion-duration=> tiempo de ejecucion de su transformacion */
    transition-duration: 2s;
    transition-timing-function:ease-in-out;
}
div:hover{
    /* transtion-delay=> tiempo muerto antes de ininiciar la transformacion */
    /* transition-delay: 1s; */
    /* agrandar o reducir el tamaño del elemento */
    /* scale(x,y) */
    /* transladar el elemento */
    /* translate(x,y) */
    transform: scale(1.1) translate(50%, 50%) rotate(45deg);
}
.bolita1, .bolita2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition-duration: 2s;
    background-color: brown;
    transition-timing-function: ease-in;
}
.bolita2{
    /* transform: translate(); */
    background-color: blue;
    transition-timing-function: ease-in-out;
}
.bolita1:hover,.bolita2:hover{
    transform: translate(500px);
}