.midiv {
    width: 200px;
    height: 200px;
    border: 2px solid darkslategray;
    animation: moverelcuadrado 3s ease 0s infinite normal none;
}

@keyframes moverelcuadrado {
    0% {
        background-color: aqua;
    }
    25% {
        background-color: blueviolet;
        border-radius: 50%;
    }
    50% {
        background-color: brown;
    }
    100% {
        background-color: aqua;
    }
}